@media(max-width:1100px) {
    #main-nav ul {
        display: grid;
        grid-template-columns: 1fr;
    }

    .logo-container {
        display: none;
    }

    #contactForm form {
        display: grid;
        grid-template-columns: 1fr;
    }

    #main-footer {
        height: 600px;
    }


    .footer-container {
        display: grid;
        grid-template-columns: 1fr;

    }


}